BOT_TOKEN=вставь_сюда_токен_бота
DATABASE_URL=sqlite:///bot_data.db
BOT_TOKEN=8646093037:AAHZTtn-Wny-J1Zf_OZHzk9ojz5v-QHmYlg
GIGACHAT_CLIENT_ID=019ee115-845a-74a8-8425-b33ee0721fe9
GIGACHAT_CLIENT_SECRET=MDE5ZWUxMTYtMDE1My03NmI0LWFjZjAtZTI3NTUwNmNkMmI3Ojk3YmU2N2Q0LWQyYjAtNDhiZS04YjlkLTFiMDkxZmQ4Njc0YQ==
GIGACHAT_SCOPE=GIGACHAT_API_PERS